node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
dist/
build/

.env
.env.*.local

logs/
*.log
log.txt
*.out
*.pid

coverage/
.nyc_output/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
*.tgz
*.bak
*.orig
*.tmp
.cache/
